{% extends "base.html" %}

{% load static %}

{% block content %}
<!--Main Navigation-->
<header>

    {% include 'mood/nav.html' %}

    <!-- Background image -->
    <div id="intro" class="p-5 text-center bg-image shadow-1-strong ">
        <div class="mask bg-color ">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="px-4 bg-light bg-gradient text-black-50">

                    <div class="my-4"></div>

                    <h4 class="border border-light my-4 p-4">
                        Check Your EmoBox
                    </h4>

                    <form action="" method="POST">
                        {% csrf_token %}
                        <table class="table align-middle mb-0 bg-white">
                            <thead class="bg-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Feeling</th>
                                    <th>Content</th>
                                    <th>Actions</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            {% for feeling in feelings %}
                                {% if feelings %}
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="ms-3">
                                                    <p class="fw-bold mb-1">{{ feeling.user_profile }}</p>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <p class="text-muted mb-0">{{ feeling.date }}</p>
                                            </td>

                                            <td>
                                                <span class="badge badge-success rounded-pill d-inline">{{ feeling.feelings }}</span>
                                            </td>

                                            <td>{{ feeling.details }}</td>

                                            <td>
                                                <button type="button" class="btn btn-link btn-sm btn-rounded">
                                                    Edit
                                                </button>
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-link btn-sm btn-rounded">
                                                    Delete
                                                </button>
                                            </td>

                                        </tr>
                                    </tbody>

                                {% else %}
                                    <p>This Box is empyt!</p>
                                {% endif %}
                            {% endfor %}         
                        </table>
                           
                    </form>

                    <p class="mt-2"></p>

                    <a class="btn btn-outline-muted btn-lg m-2 text-black-50" href="{% url 'mood' %}">Home</a>
                                    
                    
                    <div class="my-4"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
    
</header>

<hr class="m-0" />

{% include 'mood/footer.html' %}

{% endblock %}
