{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="table-responsive text-center card-body box">

    <div class="table-light">
        <h4>
            Check Your EmoBox
        </h4>
        <a class="btn btn-link btn-rounded text-info" href="{% url 'recordemo' %}" role="button" rel="nofollow">RecordEmo</a>
        <a class="btn btn-link btn-rounded text-info" href="{% url 'mood' %}">Home</a>
    </div>
    
    <table class="table table-hover table-light table-fixed">

        <thead class="thead-light">
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Date</th>
                <th scope="col">Created on</th>
                <th scope="col">Feeling</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
       
        <tbody>
            
            {% if feelings %}
                {% for feeling in feelings %}
                <tr>
                    <td>{{ profile.name }}</td>
                    <td>{{ feeling.date }}</td>
                    <td>{{ feeling.created_time }}</td>
                    <td>
                        <span class="badge badge-info rounded-pill d-inline">{{ feeling.feelings }}</span>
                    </td>                    
                    <td>
                        <a href="{% url 'show_emo' feeling.id %}" class="btn btn-link btn-sm btn-rounded text-info">
                            Details
                        </a>
                    </td>
                </tr>
                {% endfor %} 
            {% else %}
                <td colspan="5">
                    Your EmoBox is empty!
                </td>
            {% endif %}

        </tbody>
            
    </table>

</div>

{% endblock %}
