* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Default height for small devices */

.box {
	height: 400px;
    width: auto;
}

/* Navbar brank */
.navbar-brand-margin {
    margin-top: -3px;
}

/* background image*/
.bg-image {
    background-image: url('https://res.cloudinary.com/dqj8itdfg/image/upload/v1664832186/hdyd/home-image-girl-holding-plant_tac1aw.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-color {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-bg {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-green {
    color: #082C15;
}

/* show_emo title styling */
.font-pc {
    font-family: 'Righteous', cursive;
}

/* Allauth form formatting */
.allauth-form-inner-content input::placeholder {
    color: #fff;
}

/* Toast */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Modal background */
.modal-backdrop {
    position: relative!important;
}

.modal {
    top: auto!important;
}
