/* Default height for small devices */
#intro {
    height: 100vh;
}

    @media (max-width: 991px) {
            #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 45px;
    }
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1;
}

.box {
	height: 100%;
}

/* Navbar brank */
.navbar-brand-margin {
    margin-top: -3px;
}

/* background image*/
.bg-image {
    background-image: url('https://res.cloudinary.com/dqj8itdfg/image/upload/v1664832186/hdyd/home-image-girl-holding-plant_tac1aw.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-bg {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-green {
    color: #082C15;
}

/* Allauth form formatting */
.allauth-form-inner-content input::placeholder {
    color: #fff;
}

/* Toast */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}