{% extends "base.html" %}

{% block content %}
<header>

    {% include 'mood/nav.html' %}

    <div id="intro" class="p-5 text-center bg-image shadow-1-strong">
        <div class="mask bg-color">
            <div class="d-flex justify-content-center align-items-center h-100  ">
                <div class="px-4 bg-light bg-gradient text-black-50 ">
                    
                    <div class="my-4 p-3 allauth-form-inner-content">
                        {% block inner_content %}
                        {% endblock %}
                    </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
    
</header>

{% include 'mood/footer.html' %}
{% endblock %}