{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="px-4 bg-light bg-gradient text-black-50 p-4 text-center">

    <h4 class="border border-light my-4 ">
        How it works
    </h4>
    <p>
        I always wonder how many days do I feel happy and how many days do I feel upset in a month. <br>
        So I have a little notebook to track of my emotions. I found it helps me to better manage my feelings. <br>
        For example, I most likely to try harder to calm myself down if I find myself upset most of the time. <br>
        This is so true that ' Nobody can make you happy until you're happy with yourself FIRST.' <br>
    </p>
    {% if user.is_authenticated %}
        <p>
            So~ there is how it work. Be honest with yourself and simply record your emotions by clicking  
            <strong>
                <a class="text-info"  href="{% url 'recordemo' %}" role="button" rel="nofollow">RecordEmo</a>
            </strong>  <br>
            and you can track all of your records by clicking 
            <strong>
                <a class="text-info" href="{% url 'emobox' user.id %}"  role="button">EmoBox</a>
            </strong> 
            and that's it! Login and start from today!
        </p>
    {% else %}
        <p>
            So~ there is how it work. Be honest with yourself and simply record your emotions by clicking  
            <strong class="text-info">
                RecordEmo
            </strong>  <br>
            and you can track all of your records by clicking 
            <strong class="text-info">
                EmoBox
            </strong> 
            and that's it! Login and start from today!
        </p>
    {% endif %}
    <a class="btn btn-outline-secondary m-2 text-black-50" href="{% url 'account_signup' %}">Register</a>
    
</div>

{% endblock %}
