{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Main Navigation-->
<header>

    {% include 'mood/nav.html' %}

    <!-- Background image -->
    <div id="intro" class="p-5 text-center bg-image shadow-1-strong">
        <div class="mask bg-color">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="px-4 bg-light bg-gradient text-black-50">

                    <div class="my-4"></div>

                    <h5 class="mb-3">Nobody can make you happy until you're happy with yourself <strong>FIRST.</strong></h5>

                    <!-- Time Counter -->
                    <h3 class="border border-light my-4 p-4">
                        Are you ready to own a Moody Box?
                    </h3>

                    <p><a href="#" class="link-info">How it works?</a></p>

                    
                        <a class="btn btn-outline-muted btn-lg m-2 text-black-50" href="{% url 'recordemo' %}" role="button" rel="nofollow">RecordEmo</a>
                        <a class="btn btn-outline-muted btn-lg m-2 text-black-50" href="#" role="button">EmoBox</a>
                                    
                    
                    <div class="my-4"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
    
</header>

<hr class="m-0" />

{% include 'mood/footer.html' %}

{% endblock %}