<nav class="navbar navbar-expand-md navbar-light bg-white">
    <a class="navbar-brand nav-link text-warning" href="{% url 'mood' %}">
        <strong>Moody Box</strong>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'mood' %}">Home</a>
            </li>
            {% if request.user.is_authenticated %}
                <!-- add feelings for today -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recordemo' %}">
                        RecordEmo
                    </a>
                </li>
                
                <!-- feelings summary -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'emobox' user.id%}">
                        EmoBox
                    </a>
                </li>

            
                <!-- logout -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">
                        Logout
                    </a>
                </li>
            {% else %}
                <!-- register -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">
                        Register
                    </a>
                </li>

                <!-- login-->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">
                        Login
                    </a>
                </li>
            {% endif %}
        </ul>

        <div class="my-2 my-lg-0">
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item me-3 me-lg-0 mx-1">
                    <a class="nav-link" href="{% url 'profile' %}" rel="nofollow">
                        <span class="text-warning">{{ profile.name }}</span>
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>

                <!-- Icons -->
                <li class="nav-item me-3 me-lg-0 mx-1">
                    <a class="nav-link" href="https://www.youtube.com" rel="nofollow" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-0 mx-1">
                    <a class="nav-link" href="https://www.facebook.com" rel="nofollow" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-0 mx-1">
                    <a class="nav-link" href="https://twitter.com" rel="nofollow" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>

                <li class="nav-item me-3 me-lg-0 mx-1">
                    <a class="nav-link" href="https://github.com/CrankyCat-Loves-Coding/how-do-you-do" rel="nofollow" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>