{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!--Main Navigation-->
<header>

    {% include 'mood/nav.html' %}

    <!-- Background image -->
    <div id="intro" class="p-5 text-center bg-image shadow-1-strong ">
        <div class="mask bg-color ">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="px-4 bg-light bg-gradient text-black-50">

                    <div class="my-4"></div>

                    <h4 class="border border-light my-4 p-4">
                        Stuffing Your Feelings in a EmoBox
                    </h4>

                    <form action="{% url 'recordemo' user.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-12 adddate">
                                {{ form.date|as_crispy_field }}
                            </div>
                            <div class="col-12 addfeelings">
                                {{ form.feelings|as_crispy_field }}
                            </div>
                            <div class="col-12 addcontents">
                                {{ form.details|as_crispy_field }}
                            </div>
                        </div>

                        <button 
                            type="submit"
                            class="btn btn-outline-muted btn-lg m-2 text-black-50" 
                            href="#" 
                            role="button"
                        >
                            Stuffing
                        </button>

                    </form>

                    <div class="my-4"></div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
    
</header>

<hr class="m-0" />

{% include 'mood/footer.html' %}

{% endblock %}
