{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="px-4 bg-light bg-gradient text-black-50 text-center">

    <div class="row col-12 justify-content-center">
        <h4 class="border border-light my-4 p-4">
            Stuffing Your Feelings in a EmoBox
        </h4>
    </div>


    <form action="{% url 'recordemo' %}" method="POST" enctype="multipart/form-data" class="">
        {% csrf_token %}

        <div class="overflow-auto">
            <div class="adddate">
                {{ form.date|as_crispy_field }}
            </div>
            <div class="addfeelings">
                {{ form.feelings|as_crispy_field }}
            </div>
            <div class="text-left text-dark ">
                <textarea id="summernote" name="details"></textarea>
            </div>
        </div>

        <div class="my-2">
            <button 
                type="submit"
                class="btn btn-outline-secondary m-2 text-black-50" 
                href="#" 
                role="button"
            >
                Stuffing
            </button>
            <a class="btn btn-outline-secondary m-2 text-black-50" href="{% url 'emobox' user.id %}">EmoBox</a>
            <a class="btn btn-outline-secondary m-2 text-black-50" href="{% url 'mood' %}">Home</a>
        </div>


    </form>
    
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
      $('#summernote').summernote({
        tabsize: 2,
        height: 150,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'undo','redo','help']],
        ],
      });
    </script>
{% endblock %}