{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Main Navigation-->
<header>

    {% include 'mood/nav.html' %}

    <!-- Background image -->
    <div id="intro" class="p-5 text-center bg-image shadow-1-strong">
        <div class="mask bg-color">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="px-4 bg-light bg-gradient text-black-50">

                    
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
    
</header>

<hr class="m-0" />

{% include 'mood/footer.html' %}

{% endblock %}