{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="px-4 bg-light bg-gradient text-black-50 card">

    <div class="row col-12 justify-content-center">
        <h4 class="border border-light my-4 p-4">
            Edit Emo
        </h4>
    </div>


    <form action="{% url 'update_emo' emo.id %}" method="POST" enctype="multipart/form-data" class="">
        {% csrf_token %}

        <div class="">
            <div class="adddate">
                {{ emo.date|as_crispy_field }}
            </div>
            <div class="addfeelings">
                {{ emo.feelings|as_crispy_field }}
            </div>
            <div class="text-left text-dark">
                <textarea id="summernote" name="details">{{ emo.details|safe }}</textarea>
            </div>
        </div>

        <div class="my-2">
            <button 
                type="submit"
                class="btn btn-outline-secondary btn-lg m-2 text-black-50" 
                href="#" 
                role="button"
            >
                Update
            </button>

            <a class="btn btn-outline-secondary btn-lg m-2 text-black-50" href="{% url 'mood' %}">Home</a>
        </div>


    </form>
    
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
      $('#summernote').summernote({
        tabsize: 2,
        height: 250,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['fontname', ['fontname']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'undo','redo','help']],
        ],
      });
    </script>
{% endblock %}